.wrapper{
    width: 80%;
    margin: 20px auto;
}

.wrapper__title{
    width: 100%;
}
.wrapper__filter-input,
.wrapper__input {
    display: block;
    width: 47%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    margin-bottom: 5px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.wrapper__filter-input--full{
    width: 100%;
}

.wrapper__input--select{
    flex-grow: 1;
}

.wrapper__inputs-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper__inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper__funcionario .wrapper__inputs-group {
    width: 100%;
}

.wrapper__inputs-group {
    width: 48%;
}
.wrapper__filter-label,
.wrapper__inputs-group label{
    text-align: left;
    width:100%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.wrapper__inputs-group input{
    width: 100%;
}

.input_events{
    pointer-events: none;
}


.wrapper__btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 5px;
}

.wrapper__btn--save{
color: #fff;
background-color: #28a745;
border-color: #28a745;
}

.wrapper__btn--save:hover {
color: #fff;
background-color: #218838;
border-color: #1e7e34;
}
.wrapper__btn--clean {
color: #fff;
background-color: #343a40;
border-color: #343a40;
}

.wrapper__btn--clean:hover{
color: #fff;
background-color: #23272b;
border-color: #1d2124;
}
.wrapper__btn:not(:disabled):not(.disabled) {
cursor: pointer;
}
.wrapper--no-show,
.wrapper__inputs-group--no-show,
.wrapper__btn--no-show{
    display: none;
}
.wrapper--show,
.wrapper__inputs-group--show{
    display: flex;
}
.wrapper__btn--show{
    display: inline-block;
}

.wrapper__clientes .wrapper__inputs-group{
    width: 100%;
}

.wrapper__clientes {
    width: 80%;
    margin: 0 auto;
}